<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21826AA91B3F51A100AA9641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21826AB31B3F51A100AA9641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36748D4E1B5034EC0046F207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
